extends layout

block content
  div.pageload-img
  div.background-imgA
  include head
  div.page-container(y_ctrl="home")
    div.login-dialog-container.out
      div.login-bg
      div.login-modal
        div.btns-title
          span.tab-btn.active 登录
          span.tab-btn 注册
          span.tab-btn 忘记密码
          span.fontello.icon-cancel.close-dialog
        form.login-form
          div.l-row
            span 欢迎登录Red_ButterFly的博客
          div.l-row
            i.fontello.icon-user
            input.inp(name="username")
          div.l-row
            i.fontello.icon-lock
            input.inp(name="password", type="password")
          div.l-row
            label
              input.check(type="checkbox", name="autologin")
              i.check-box
                span.fontello.icon-ok
              span 下次自动登录
          button.login-btn(type="button")
            span.fontello.icon-ok
            span 登录
        form.register-form(style="display:none")
          div.l-row
            span 对不起，该网站暂不提供注册
          button.register-btn(disabled="true")
            span.fontello.icon-cancel
            span 注册
        form.forget-pwd(style='display:none')
          div.l-row
            span 该背时
    div.article-list
      div.left_bg
      ul
        each item in info
          li
            h3
              a(href="https://www.baidu.com") #{item.title}
            div.preview!=item.content
            div.info
              span 作者：#{item.name}
              span 日期：#{item.create_date}
              span 标签：技术