div.new-post(y_ctrl="newpost")
  form#post
    div.i-row
      div.left-title
        label 文章标题
      div.r-content
        input(type="text",name="title",placeholder="文章标题",value=bloginfo.title)#post-title
    div.i-row
      div.left-title
        label 文章内容
      div.r-content
        div#editor-container.container
          div#editor-trigger!=bloginfo.content
    div.i-row
      div.left-title
        label 标签<br><span>(<span class="tabs-num">0</span>/10)</span>
      div.r-content
        if(bloginfo&&bloginfo.tabs)
          each tab in bloginfo.tabs
            div.tabs
              span.fontello.icon-tabs
              input(type="text",placeholder="标签",value=tab)
              span.fontello.icon-trash-empty
        button.addnew-tabbtn(type="button")
          span.fontello.icon-plus   新标签
    div.i-row
      div.left-title
        label
      div.r-content
        button(type="button")#subPost
          span.fontello.icon-ok
          if(bloginfo)
            span  保存修改
          else
            span  提交