div.new-post(y_ctrl="newpost")
  form#post
    div.i-row
      div.left-title
        label 文章标题
      div.r-content
        input(type="text",name="title",placeholder="文章标题")#post-title
    div.i-row
      div.left-title
        label 文章内容
      div.r-content
        div#editor-container.container
          div#editor-trigger
    div.i-row
      div.left-title
        label
      div.r-content
        button(type="button")#subPost
          span.fontello.icon-ok
          span 提交