.fontello{
  font-family: fontello;
}
.fontello.icon-email:before{
  content:"@";
}
.fontello.icon-user:before{
  content:'\e808';
}
.fontello.icon-lock:before{
  content:'\e821';
}
.fontello.icon-ok:before{
  content:'\e812';
}
.fontello.icon-cancel:before{
  content:"\e815";
}
.fontello.icon-down-open:before{
  content:"\e859";
}
.fontello.icon-angle-down:before{
  content:"\f107";
}
.fontello.icon-brush:before{
  content:"\f1fc";
}
.fontello.icon-pin:before{
  content:"\e823";
}
.fontello.icon-cog-alt:before{
  content:"\e840";
}
.fontello.icon-off:before{
  content:"\e88c";
}
.fontello.icon-plus:before{
  content:"\e818";
}
.fontello.icon-tabs:before{
  content:"\e827";
}
.fontello.icon-trash-empty:before{
  content:"\e83a";
}
.fontello.icon-clock:before{
  content:'\e84a';
}
.fontello.icon-edit:before{
  content:'\e831';
}