html{
  font-size:14px;
}
body{
  font-family: "Microsoft Yahei",sans-serif;
}
@fonturl:"../fonts/";
@font-face {
  font-family: 'fontello';
  src: url('@{fonturl}fontello.eot?28226013');
  src: url('@{fonturl}fontello.eot?28226013#iefix') format('embedded-opentype'),
  url('@{fonturl}fontello.woff?28226013') format('woff'),
  url('@{fonturl}fontello.ttf?28226013') format('truetype'),
  url('@{fonturl}fontello.svg?28226013#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
}
li{
  list-style: none;
}
ul{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
  color:inherit;
}
button{
  cursor: pointer;
  font-size:1rem;
  outline:none;
}
button[disabled]{
  cursor: not-allowed;
  opacity: .5;
}
.wh(@width:auto,@height:auto){
  width:@width;
  height:@height;
}
.button(@b-color:rgb(50,181,242),@font-color:#fff){
  border:none;
  background:@b-color;
  color:@font-color;
  transition: .2s;
  &:hover{
    background: darken(@b-color,5%);
  }
  &:active{
    background: darken(@b-color,10%);
  }
}
@imgpath:"../images/";
.background-imgA{
  position:fixed;
  z-index:-1;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:url("@{imgpath}b2.jpg") no-repeat center fixed;
  background-size:cover;
}
header.header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:50px;
  line-height:50px;
  z-index:99;
  background:rgba(255,255,255,0.95);
  padding:0 50px;
  box-shadow:0 0 5px rgba(50, 181, 242,.8);
  span.title{
    font-size:25px;
    color:#535353;
  }
  .r-c{
    float:right;
    height:50px;
    button{
      height:100%;
      padding:0 12px;
      .button(#e14d43,#fff);
    }
  }
}

@fontcolor1:#666;
.page-container{
  .login-dialog-container.out{
    opacity: 0;
  }
  .login-dialog-container.in{
    opacity:1;
  }
  .login-dialog-container{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:100;
    display: none;
    transition:.4s;
    .login-bg{
      .wh(100%,100%);
      position:absolute;
      background-color:rgba(0,0,0,.4);
    }
    .login-modal{
      .wh(500px,auto);
      box-shadow: 0 10px 50px rgba(0,0,0,0.5);
      margin:auto;
      z-index:1;
      background:#fff;
      border-radius: 6px;
      color:@fontcolor1;
      .btns-title{
        padding-left:20px;
        line-height:3rem;
        .tab-btn{
          padding:0 12px;
          cursor: pointer;
          float:left;
          font-size:13px;
        }
        .tab-btn.active{
          color:#fff;
          background-color:#e14d43;
        }
        .fontello{
          float:right;
          cursor: pointer;
          padding:0 14px;
          border-radius: 0 4px 0 0;
          &:hover{
            color:#fff;
            background-color:#e14d43;
          }
        }
      }
      form.login-form,form.register-form,.forget-pwd{
        clear:both;
        padding:20px;
        //登录输入行
        .l-row{
          font-size:13px;
          margin-bottom:15px;
          position: relative;
          i{
            position: absolute;
            left:.65rem;
            top:.6rem;
            font-style: normal;
          }
          input.inp{
            outline: none;
            border-radius:4px;
            padding-left:24px;
            border:1px solid rgba(0,0,0,.1);
            .wh(100%,30px);
            transition:.3s;
            &:focus{
              border-color: #e14d43;
              box-shadow: 0 0 3px #e14d43;
            }
          }
          input.check{
            vertical-align: middle;
          }
        }
        //登录按钮
        .login-btn,.register-btn{
          .wh(100%,30px);
          font-size:13px;
          .button(#4caf50,#fff);
          .fontello{
            font-size:13px;
            margin-right:3px;
          }
        }

      }
    }
  }

  .left_bg{
    background: url("@{imgpath}left_bg.png") center no-repeat;
    background-size:cover;
    .wh(400px,700px);
    position: absolute;
    left:130px;
    top: 110px;
  }
  .article-list{
    padding:80px 100px 50px 100px;
    ul{
      min-height:800px;
      .wh(100%,100%);
      background:rgba(255,255,255,.8);
      box-shadow: 0 0 5px rgba(255,255,255,.8);
      padding:20px 20px 20px 450px;
      h2{
        a{
          transition: .3s;
        }
        &>a:hover{
          margin-left:30px;
          color:#6f5499;
        }
      }
      li{
        border-top:1px dotted #ff0000;
        margin-top:30px;
        padding-top:10px;
        &:first-child{
          border:none;
          margin-top:0;
          padding-top:0;
        }
        &>.preview{
          color:#756F71;
          line-height:20px;
        }
        .info{
          text-align: right;
          padding-right:80px;
          margin-top:10px;
          color:#c95d5d;
          span{
            margin-right:30px;
          }
        }
      }
    }
  }
}